

<div class="container-fluid">
      <div class="align-left">
          <h1> <%= @photo.title %> </h1>
      </div>
      <div class="row-fluid">
        <div class="span9">
          <img class="img-polaroid" src=<%= @photo.image.url(:large) %> alt="">
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">EXIF</li>
              <li> <%= "Orientation: #{@photo.orientation}" %></li>
              <li> <%= "Resolution: #{@photo.x_resolution}x#{@photo.y_resolution}" %></li>
              <li> <%= "ISO: #{@photo.iso}" %></li>
              <li> <%= "Flash: #{@photo.flash}" %></li>
              <li> <%= "Shutter Speed: #{@photo.shutter_speed}" %></li>
              <li> <%= "Aperture Value: #{@photo.aperture_value}" %></li>
              <li> <%= "White Balance: #{@photo.white_balance}" %></li>
              <li> <%= "Location: #{@photo.address}" %></li>
              <li> <%= "Latitude: #{@photo.latitude}" %></li>
              <li> <%= "Longitude: #{@photo.longitude}" %></li>
              <li> <%= "Altitude: #{@photo.altitude}" %></li>

              <li class="nav-header">Categories</li>
              <% @photo.categories.each do |category| %>
              <li>
              <%= link_to "#{category.name}", category_path(category) %>
              </li>
              <% end %>
              <% if current_user.id == @photo.user_id %>
                <li class="nav-header">Options</li>
                <li><%= link_to "Edit", edit_photo_path(@photo) %></li>
                <li><%= link_to "Delete", photo_path(@photo), method: "DELETE"  %></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->



        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <div class= "span5">
          <% if @photo.comments.length > 0 %>
            <ul>
                <% @photo.comments.each do |comment| %>
                  <% if comment.body %>
                        <li class="inline">
                              <% if comment.user.avatar? %>
                                <img src= <%= comment.user.avatar.url(:thumb) %> class="img-circle" width= 30 height= 30>
                              <% end %>
                              <%= comment.body %>
                        </li>
                  <% end %>
                <% end %>
              </ul>
          <% end %>
          <%= form_for [@photo, @comment] do |f| %>
                    <%= f.text_area :body, placeholder: "Add a comment..." %>
                    <%= f.submit %>
                    <% end %>
        </div>
